$textColor: #F67E7E;
.secondary {
    width: 200px;
    height: 200px;
    right: -100px;
    background-image: url(../images/bg-pattern-about-1-mobile-nav-1.svg);
    position: absolute;
    bottom: -100px;
}

header {
    position: relative;
     z-index: 2;
}

section.primary {
    padding-bottom: 100px;
}

/*main::before{
    background-image: url(../images/bg-pattern-about-2-contact-1.svg);
    left: -100px;
    top: -100px;
    background-repeat: no-repeat;   
}*/
main {
    z-index: 2;

    .profilesDescription {
        background-image: none;
        margin: 20px auto 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

    .card {
        background-color: #012F34;
        padding: 20px 10px;
        position: relative;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        width: 327px;
    }

    .cardModal {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;

        h3 {
            padding-top: 20px;
        }

        blockquote {
            width: 72%;
            margin: 25px auto;
        }
    }

    .displayCardModal {
        display: block;
        background-color: inherit;
    }

    .socialProfiles {
        display: flex;
        justify-content: center;
        column-gap: 20px;

        .twitter path:hover,
        .instagram path:hover {
            fill: $textColor;
        }
    }

    .cross {
        width: 56px;
        height: 56px;
        position: absolute;
        background-color: $textColor;
        left: 44%;
        bottom: -28px;
        border-radius: 50%;
        text-align: center;
        line-height: 56px;
        z-index: 10;
    }

    .cross:hover {
        background-color: #79C8C7;
    }

    .crossClicked {
        background-color: #79C8C7;
    }

    figure.businessCard {
        width: 279px;
        margin: 32px auto;
        flex-direction: column;

        /* padding: 24px 0; */
        img {
            width: 96px;
            height: 96px;
        }
    }

    .hideBusinessCard {
        opacity: 0;
    }

    .profilesWrapper {
        position: relative;
        background-color: #004047;
        padding-bottom: 5px;
    }
    .profilesHeader {        
        padding: 60px 0 20px;
    }

    .profilesWrapper::before {
        content: "";
        width: 147px;
        height: 100px;
        background-image: url("../images/bg-pattern-home-4-about-3.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .profiles {
        position: relative;
        z-index: 200;
    }

    .clientSection {
        position: relative;
        background-color: #012F34;
        text-align: center;
        width: 82%;
        margin: auto;
        padding-top: 90px;

        img {
            width: 175px;
            display: block;
            margin: auto;
        }
    }

    .clientSection::before {
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        background-image: url("../images/bg-pattern-about-4.svg");
        top: -100px;
        left: -150px;
    }

    .clients {
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
    }
}

main::before {
    visibility: hidden;
}

aside {
    position: relative;
}

@media screen and (min-width: 768px) {
    header {
        .secondary {
            width: 200px;
            height: 200px;
            right: -100px;
            bottom: 0px;
            margin-right: 0;
        }
    }

    main {
        .clientSection {
            width: 100%;

            img {
                width: 100px;
            }
        }

        .clients {
            gap: 20px;
        }

        .clientSection::before {
            top: -100px;
            left: 0px;
        }
    }

}

@media screen and (min-width: 1220px) {
    header {
        section.primary::before {
            bottom: -200px;
        }
    }

    main {
        .profilesDescription {
            width: 100%;
        }
        .clientList h2 {
            margin-top: 65px;
            margin-bottom: 100px;
        }
        .clients {
            margin-top: 45px;
        }
        .clientSection::before {
            top: 0px;
            left: 0px;
        }
    }

}