.secondary {
    width: 200px;
    height: 200px;
    right: -100px;
    background-image: url(../images/bg-pattern-about-1-mobile-nav-1.svg);
    position: absolute;
    bottom: -100px;
}

header {
    position: relative;
    z-index: 1;
}

section.primary {
    padding-bottom: 100px;
}

/*main::before{
    background-image: url(../images/bg-pattern-about-2-contact-1.svg);
    left: -100px;
    top: -100px;
    background-repeat: no-repeat;   
}*/
main {
    z-index: 2;

    .profilesDescription {
        margin: 20px auto 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

    .card {
        background-color: #012F34;
        padding: 20px 10px;
        position: relative;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        width: 327px;
    }

    .cardModal {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;

        h3 {
            padding-top: 20px;
        }

        blockquote {
            width: 72%;
        }
    }

    .socialProfiles {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    .cross {
        width: 56px;
        height: 56px;
        position: absolute;
        background-color: #f67e7e;
        left: 44%;
        bottom: -28px;
        border-radius: 50%;
        text-align: center;
        line-height: 56px;
    }

    figure.businessCard {
        width: 279px;
        margin: 32px auto;
        flex-direction: column;

        /* padding: 24px 0; */
        img {
            width: 96px;
            height: 96px;
        }
    }

    .profilesWrapper {
        position: relative;
        background-color: #004047;
    }

    .profilesWrapper::before {
        content: "";
        width: 147px;
        height: 100px;
        background-image: url("../images/bg-pattern-home-4-about-3.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

main::before {
    visibility: hidden;
}

aside {
    position: relative;
}

/*
aside::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(../images/bg-pattern-about-2-contact-1.svg);
}
*/
@media screen and (min-width: 1220px) {
    main {
        .profilesDescription {
            width: 82%;
        }
    }
}