header {
  z-index: 4;
}

.secondary {
  height: 0px;
  display: none;
}

h1 span {
  font-size: 2.1rem;
}

label {
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  margin: auto;
  font-size: 1rem;
}

.btnWrapper {
  min-width: 45%;
  width: 325px;
  margin: auto 0;
}

input,
textarea {
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  background-color: inherit;
}

textarea {
  resize: none;
}

input[type="submit"] {
  width: 123px;
  padding: 10px 8px;
  background-color: white;
  border: none;
  color: #012F34;
  margin: 30px auto;
  border-radius: 20px;
  line-height: 28px;
  font-size: 1.2rem;
  font-weight: 600;
}

input[type="submit"]:hover {
  background-color: #012F34;
  color: white;
  width: 120px;
}

form {
  width: 82%;
  margin: auto;
  padding-bottom: 55px;
}

main::before {
  background-image: url("../images/bg-pattern-contact-2.svg");
  visibility: visible;
  bottom: -128px;
  background-repeat: no-repeat;
}

main {
  padding-bottom: 100px;
  background-color: inherit;
  padding-bottom: 0;
}

main section.hero {
  width: 91%;
  padding-top: 40px;
}

main .heroDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 25px;
}

main .heroDescription img {
  width: 72px;
  height: 72px;
  margin: auto 0;
}

main .heroDescriptionMore {
  text-align: left;
  width: 65%;
}

section.primary {
  padding-bottom: 0;
}

footer {
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  header section.primary::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(../images/bg-pattern-home-1.svg);
    left: -12%;
  }
  main section.hero, main form {
    width: 60.3%;
  }
  main .heroBody {
    padding-top: 0;
  }
  main .heroDescriptionMore {
    width: 81.5%;
  }
  main .heroDescriptionMore p {
    width: 100%;
    font-size: 1.2rem;
  }
  main::before {
    bottom: -19px;
  }
  form {
    padding-bottom: 76px;
  }
}

@media screen and (min-width: 1220px) {
  header section.primary::before {
    left: -31%;
  }
  header h1 {
    text-align: left;
    margin-left: 0px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main section.hero {
    width: 34.15%;
    margin-top: 0;
  }
  main form {
    width: 34.3%;
  }
}
/*# sourceMappingURL=contact.css.map */