label {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;    
}
input#name {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}