.secondary {
    height: 0px;
    display: none;
}

h1 span {
    font-size: 2.1rem;
}

label {
    min-width: 45%;
   // width: 325px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
    margin: auto;
    font-size: 1rem;
}

.btnWrapper {
    min-width: 45%;
    width: 325px;
    margin: auto 0;
}

input,
textarea {
    background-color: inherit;
    color: rgb(180, 149, 149);
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

input:focus,
textarea:focus {
    background-color: inherit;
}

textarea {
    resize: none;
}

input[type="submit"] {
    width: 123px;
    padding: 8px;
    background-color: white;
    color: #004047;
    margin: 30px auto;
    border-radius: 20px;
    line-height: 28px;
    font-size: 1.2rem;
    font-weight: 600;
}
input[type="submit"]:hover {
    background-color: rgb(95, 87, 87);
    width: 120px;
}

form {
    width: 61.7%;
    margin: auto;
}

main::before {
    background-image: url('../images/bg-pattern-contact-2.svg');
    visibility: visible;
    bottom: -128px;
    background-repeat: no-repeat;   
}

main {   
    z-index: -1;
    padding-bottom: 100px;
    background-color: inherit;
    padding-bottom: 0;
    section.hero {
        width: 91%;
        padding-top: 40px;
    }

    .heroDescription {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 25px;
        img {
            width: 72px;
            height: 72px;
            margin: auto 0;
        }
    }
 
    .heroDescriptionMore {
        text-align: left;
        width: 65%;
    } 
}

section.primary {
    padding-bottom: 0;
}


@media screen and (min-width: 768px) {
   
    header {
        section.primary::before {
            position: absolute;
            content: "";
            width: 200px;
            height: 200px;
            background-image: url(../images/bg-pattern-home-1.svg);
            left: -12%;
        }
    }
 
    main {
        section.hero, form {
            width: 60.3%;
        }
        .heroBody {
            padding-top: 0;
        }
        .heroDescriptionMore {            
            width: 81.5%;
        p {
            width: 100%;
            font-size: 1.2rem;
        }
        }
    }
    
}

@media screen and (min-width: 1220px) {
    header {
        section.primary::before {
            left: -31%;
        }
    }
    h1 {
        text-align: left;
        margin-left: 40px;
    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        section.hero, form {
            width: 40.3%;
        }
    }

}