body {
    
}
.navMenu {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: auto;
    padding-top: 48px;
    padding-bottom: 80px;
    align-items: center;
}
svg.logo {
    transform: scale(0.8);
    margin-left: -15px;
}
.menuCtrl {
    position: relative;
}
svg.hamburger path {
    fill: white;
}
.modal {
    position: absolute;
    width: 70%;
    background: rgb(189, 134, 134);
    right: 0;
    top: 0;
    height: 100vh;
    display: none;
}
ul {
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
li {
    list-style: none;
}
svg.closemenu {
    margin-top: 56px;
    margin-left: 78%;
}
a {
    text-decoration: none;
    color: white;
}
a.btn {
    border: 1px solid white;   
    padding: 10px 30px;
    border-radius: 20px;
}
header {
    background-color: #014E56;
}
section.primary {
    width: 82%;
    margin: auto;
    text-align: center;
}
p {
    line-height: 28px;
    font-weight: 100;
    margin: auto 5px;
}
.secondary {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(../images/bg-pattern-home-2.svg);
    background-repeat: no-repeat;
}