body {
    overflow-x: hidden;
}

//nav
nav {
    padding-top: 48px;
    padding-bottom: 80px;
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0 auto 18px;
    padding: 0;
    line-height: 1;
}

h1 span {
    color: #F67E7E;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: auto;
    align-items: center;
    height: 32px; //auto setting using padding and margins not matching design
}

svg.logo {
    transform: scale(0.8);
    margin-left: -15px;
}

.closemenu path {
    fill: white;
}

.menuCtrl {
    position: relative;
}

svg.hamburger path {
    fill: white;
}

.modal {
    position: absolute;
    width: 68%;
    background: #2C6269;
    right: 0;
    top: 0;
    height: 100vh;
    display: none;
}

ul {
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 50px;
}

li {
    list-style: none;
}

li.contact {
    margin-top: 40px;
    width: 175px;
}

li.home,
li.about,
li.contact {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 28px;
}

svg.closemenu {
    margin-top: 56px;
    margin-left: 78%;
}

a {
    text-decoration: none;
    color: white;
}

a.btn {
    border: 3px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

header {
    background-color: #014E56;
}

section.primary {
    width: 82%;
    margin: auto;
    text-align: center;
}

p {
    line-height: 28px;
    font-weight: 600;
    margin: auto 5px;
}

.secondary {
    position: relative;
    width: 96%;
    height: 100px;
    background-size: contain;
    background-image: url(../images/bg-pattern-home-2.svg);
    background-repeat: no-repeat;
    margin: 80px auto 0;
}

main {
    background-color: #012F34;
    position: relative;

    section.hero {
        width: 82%;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .heroTitle {
        position: relative;
        width: 65%;
        padding-top: 40px;
    }

    .heroTitle::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: #F67E7E;
        top: 0;
        left: 0;
    }

    h2 {
        font-size: 2rem;
    }

    .heroBody {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        flex-wrap: wrap;
    }

    .heroDescription {
        text-align: center;
    }

    .heroDescription img {
        margin: auto;
        display: block;
    }

    h3 {
        margin: 14px auto;
        color: #F67E7E;
    }

    .profiles {
        background-color: #2C6269;

        h2 {
            text-align: center;
            margin: auto;
        }

        strong {
            color: #79C8C7;
        }
    }

    .profilesHeader {
        width: 82%;
        margin: auto;
        padding: 40px 0;
    }

    .profilesBody {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        flex-direction: column;
    }

    figure {
        img {
            width: 62px;
            border: 2px solid #C4FFFE;
            border-radius: 50%;
            margin: auto;
            display: block;
        }
    }

    .profilesDescription {
        width: 82%;
        margin: auto;
        background-image: url("../images/icon-quotes.svg");
        background-repeat: no-repeat;
        background-position: top center;
    }

    blockquote {
        line-height: 25px;
        text-align: center;
        margin: 36px auto;
        font-size: 1rem;
        font-weight: 600;

    }

    figure {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 40px;
        align-items: center;
        text-align: center;
        row-gap: 20px;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        span {
            color: #C4FFFE;
            font-weight: 700;
            line-height: 28px;
            font-size: 1.2rem;
        }

        em {
            font-size: 0.9rem;
        }
    }

    .profilesFooter {
        margin-top: 40px;
        background-image: url(../images/bg-pattern-home-5.svg);
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .call-to-action {
        background-color: #F67E7E;
        position: relative;
    }

    .call-to-actionContainer {
        width: 82%;
        margin: auto;
        padding-bottom: 40px;

        h3 {
            margin-top: 0;
            padding-top: 83px;
            font-size: 2rem;
            color: #012F34;
            text-align: center;
        }

        button {
            display: block;
            margin: auto;
            padding: 14px 42px;
            border-radius: 20px;
            background-color: inherit;
            border: 3px solid black;
            outline: none;
            font-weight: 700;
            color: #012F34;
        }

    }

    .call-to-actionFooter {
        background-image: url("../images/bg-pattern-home-6-about-5.svg");
        width: 100%;
        height: 122px;
        background-repeat: no-repeat;
    }


}

main::before {
    position: absolute;
    width: 200px;
    height: 244px;
    right: -100px;
    content: "";
    background-image: url("../images/bg-pattern-home-3.svg");
}

footer {
    background-color: #002529;

    .footerSection {
        width: 82%;
        margin: auto;
        padding-top: 80px;
    }

    svg.footerLogo {
        margin: auto;
        display: block;
        transform: scale(0.6);
    }

    ul {
        width: 107px;
        margin: 24px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    address {
        text-align: center;
        line-height: 25px;
        font-size: 1rem;
        font-weight: 600;
    }

    a {
        font-weight: 600;
        font-size: 1rem;
        line-height: 25px;
    }

    .social {
        margin: 40px auto 20px;
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    p.copyright {
        text-align: center;
        padding-bottom: 98px;
    }
}

.showModal {
    display: block;
}

.hideModal {
    display: none;
}

svg.hamburger:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    svg.closemenu {
        display: none;
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
    }

    .modal {
        display: block;
        background: inherit;
        padding-top: 12px;
        height: 20vh;
    }

    svg.hamburger {
        display: none;
    }

    li.contact {
        margin-top: 0px;
    }

    a.btn {
        padding: 2px 20px;
    }

    li.about {
        margin-left: -30%;
    }

    p {
        width: 65%;
        margin: auto;
    }

    .secondary {
        display: block;
        width: 50%;
    }

    main {
        .heroDescription {
            display: flex;
            flex-wrap: nowrap;
        }

        h3,
        p {
            text-align: left;
            margin-left: 50px;
        }

        .heroDescription img {
            margin: auto 0;
        }

        h2 {
            width: 70%;
        }

        blockquote {
            width: 90%;
        }

        .call-to-actionContainer {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            top: 90px;

            h3 {
                padding-top: 0;
            }
        }
    }

    footer {
        ul {
            margin-left: 31px;
        }

        .footerSection {
            width: 82.5%;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        address {
            grid-area: 1/2/3/2;
            text-align: right;
        }

        .footerMenu {
            grid-area: 2/1/3/1;
        }

        .copyrightContainer {
            grid-area: 3/2/4/2;
            width: 100%;
            align-self: center;
            margin-top: 15px;
        }

        p.copyright {
            text-align: right;
            padding-bottom: 0px;
            width: 100%;
        }

        svg.footerLogo {
            margin-left: 0;
        }

        .social {
            margin-left: 31px;
            justify-content: flex-start;
        }
    }
}