body {
    overflow-x: hidden;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: auto;
    padding-top: 48px;
    padding-bottom: 80px;
    align-items: center;
}

svg.logo {
    transform: scale(0.8);
    margin-left: -15px;
}

.menuCtrl {
    position: relative;
}

svg.hamburger path {
    fill: white;
}

.modal {
    position: absolute;
    width: 70%;
    background: rgb(189, 134, 134);
    right: 0;
    top: 0;
    height: 100vh;
    display: none;
}

ul {
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

li {
    list-style: none;
}

svg.closemenu {
    margin-top: 56px;
    margin-left: 78%;
}

a {
    text-decoration: none;
    color: white;
}

a.btn {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
}

header {
    background-color: #014E56;
}

section.primary {
    width: 82%;
    margin: auto;
    text-align: center;
}

p {
    line-height: 28px;
    font-weight: 100;
    margin: auto 5px;
}

.secondary {
    position: relative;
    width: 96%;
    height: 100px;
    background-size: contain;
    background-image: url(../images/bg-pattern-home-2.svg);
    background-repeat: no-repeat;
    margin: 80px auto 0;
}

main {
    background-color: #012F34;
    position: relative;

    section.hero {
        width: 82%;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .heroTitle {
        position: relative;
        width: 240px;
        padding-top: 40px;
    }

    .heroTitle::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: #F67E7E;
        top: 0;
        left: 0;
    }

    h2 {
        font-size: 2rem;
    }

    .heroBody {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        flex-wrap: wrap;
    }

    .heroDescription {
        text-align: center;
    }

    .heroDescription img {
        margin: auto;
        display: block;
    }

    h3 {
        margin: 14px auto;
    }

    .profiles {
        background-color: #2C6269;

        h2 {
            text-align: center;
        }
    }

    .profilesHeader {
        width: 82%;
        margin: auto;
        padding: 40px 0;
    }

    .profilesBody {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        flex-direction: column;
    }

    figure {
        img {
            width: 20%;
            border-radius: 50%;
            margin: auto;
            display: block;
        }
    }

    .profilesDescription {
        width: 82%;
        margin: auto;
        background-image: url("../images/icon-quotes.svg");
        background-repeat: no-repeat;
        background-position: top center;
    }

    blockquote {
        line-height: 25px;
        text-align: center;
    }

    figure {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 40px;
        align-items: center;
        text-align: center;
        row-gap: 20px;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        span {
            color: #C4FFFE;
            font-weight: 600;
        }
    }

    .profilesFooter {
        margin-top: 40px;
        background-image: url(../images/bg-pattern-home-5.svg);
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .call-to-action {
        background-color: #F67E7E;
    }

    .call-to-actionContainer {
        width: 82%;
        margin: auto;
        padding-bottom: 40px;

        h3 {
            margin-top: 0;
            padding-top: 83px;
            font-size: 2rem;
            color: #012F34;
            text-align: center;
        }

        button {
            display: block;
            margin: auto;
            padding: 14px 42px;
            border-radius: 20px;
            background-color: inherit;
            border: 2px solid black;
            outline: none;
            font-weight: 700;
            color: #012F34;
        }

    }

    .call-to-actionFooter {
        background-image: url("../images/bg-pattern-home-6-about-5.svg");
        width: 100%;
        height: 122px;
        background-repeat: no-repeat;
    }


}

main::before {
    position: absolute;
    width: 200px;
    height: 244px;
    right: -100px;
    content: "";
    background-image: url("../images/bg-pattern-home-3.svg");
}

footer {
    background-color: #002529;

    svg.footerLogo {
        margin: auto;
        display: block;
        
    }
    .footerLogoContainer {
        padding-top: 80px;
    }
    ul {       
        width: 107px;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    address {
        text-align: center;
        line-height: 28px;
    }
}