@import "main";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700;900&display=swap');
body {
    background-color: #014E56;
    font-family: 'Livvic', sans-serif;
    color: white;
    font-size: 15px;
}