@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700;900&display=swap");
.secondary {
  width: 200px;
  height: 200px;
  right: -100px;
  background-image: url(../images/bg-pattern-about-1-mobile-nav-1.svg);
  position: absolute;
  bottom: -100px;
}

header {
  position: relative;
  z-index: 1;
}

section.primary {
  padding-bottom: 100px;
}

/*main::before{
    background-image: url(../images/bg-pattern-about-2-contact-1.svg);
    left: -100px;
    top: -100px;
    background-repeat: no-repeat;   
}*/
main {
  z-index: 2;
}

main .profilesDescription {
  margin: 20px auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}

main .card {
  background-color: #012F34;
  padding: 20px 10px;
  position: relative;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  width: 327px;
}

main .cardModal {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

main .cardModal h3 {
  padding-top: 20px;
}

main .cardModal blockquote {
  width: 72%;
}

main .socialProfiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

main .cross {
  width: 56px;
  height: 56px;
  position: absolute;
  background-color: #f67e7e;
  left: 44%;
  bottom: -28px;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
}

main figure.businessCard {
  width: 279px;
  margin: 32px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* padding: 24px 0; */
}

main figure.businessCard img {
  width: 96px;
  height: 96px;
}

main::before {
  visibility: hidden;
}

aside {
  position: relative;
}

/*
aside::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(../images/bg-pattern-about-2-contact-1.svg);
}
*/
@media screen and (min-width: 1220px) {
  main .profilesDescription {
    width: 82%;
  }
}

body {
  overflow-x: hidden;
}

nav {
  padding-top: 48px;
  padding-bottom: 80px;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0 auto 18px;
  padding: 0;
  line-height: 1;
}

h1 span {
  color: #F67E7E;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}

svg.logo {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-left: -15px;
}

.closemenu path {
  fill: white;
}

.menuCtrl {
  position: relative;
}

svg.hamburger path {
  fill: white;
}

.modal {
  position: absolute;
  width: 68%;
  background: #2C6269;
  right: 0;
  top: 0;
  height: 100vh;
  display: none;
}

ul {
  margin-top: 40px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  margin-bottom: 50px;
}

li {
  list-style: none;
}

li.contact {
  margin-top: 40px;
  width: 175px;
}

li.home,
li.about,
li.contact {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 28px;
}

svg.closemenu {
  margin-top: 56px;
  margin-left: 78%;
}

a {
  text-decoration: none;
  color: white;
}

a.btn {
  border: 3px solid white;
  padding: 10px 20px;
  border-radius: 20px;
}

header {
  background-color: #014E56;
}

section.primary {
  width: 82%;
  margin: auto;
  text-align: center;
}

p {
  line-height: 28px;
  font-weight: 600;
  margin: auto 5px;
}

.secondary {
  position: relative;
  width: 96%;
  height: 100px;
  background-size: contain;
  background-image: url(../images/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  margin: auto;
  bottom: 0;
  right: 0;
}

main {
  background-color: #012F34;
  position: relative;
}

main section.hero {
  width: 82%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

main .heroTitle {
  position: relative;
  width: 65%;
  padding-top: 40px;
}

main .heroTitle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  top: 0;
  left: 0;
}

main h2 {
  font-size: 2rem;
}

main .heroBody {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .heroDescription {
  text-align: center;
}

main .heroDescription img {
  margin: auto;
  display: block;
}

main h3 {
  margin: 14px auto;
  color: #F67E7E;
}

main .profiles {
  background-color: #2C6269;
}

main .profiles h2 {
  text-align: center;
  margin: auto;
}

main .profiles strong {
  color: #79C8C7;
}

main .profilesHeader {
  width: 82%;
  margin: auto;
  padding: 40px 0;
}

main .profilesBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main figure img {
  width: 62px;
  border: 2px solid #C4FFFE;
  border-radius: 50%;
  margin: auto;
  display: block;
}

main .profilesDescription {
  width: 82%;
  margin: auto;
  background-image: url("../images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

main blockquote {
  line-height: 25px;
  text-align: center;
  margin: 36px auto;
  font-size: 1rem;
  font-weight: 600;
}

main figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 20px;
}

main figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

main figcaption span {
  color: #C4FFFE;
  font-weight: 700;
  line-height: 28px;
  font-size: 1.2rem;
}

main figcaption em {
  font-size: 0.9rem;
}

main .profilesFooter {
  margin-top: 40px;
  background-image: url(../images/bg-pattern-home-5.svg);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: right;
}

main .call-to-action {
  background-color: #F67E7E;
  position: relative;
}

main .call-to-actionContainer {
  width: 82%;
  margin: auto;
  padding-bottom: 40px;
}

main .call-to-actionContainer h3 {
  margin-top: 0;
  padding-top: 83px;
  font-size: 2.1rem;
  color: #012F34;
  text-align: center;
}

main .call-to-actionContainer button {
  display: block;
  margin: auto;
  padding: 10px 23px;
  border-radius: 20px;
  background-color: inherit;
  border: 3px solid black;
  outline: none;
  font-weight: 700;
  color: #012F34;
  font-size: 1.2rem;
}

main .call-to-actionFooter {
  background-image: url("../images/bg-pattern-home-6-about-5.svg");
  width: 100%;
  height: 122px;
  background-repeat: no-repeat;
}

main::before {
  position: absolute;
  width: 200px;
  height: 244px;
  right: -100px;
  content: "";
  background-image: url("../images/bg-pattern-home-3.svg");
}

footer {
  background-color: #002529;
}

footer .footerSection {
  width: 82%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer svg.footerLogo {
  margin: auto;
  display: block;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

footer ul {
  width: 107px;
  margin: 24px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer address {
  text-align: center;
  line-height: 25px;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.6;
}

footer a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 25px;
}

footer .social {
  margin: 40px auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

footer p.copyright {
  text-align: center;
  opacity: 0.6;
  line-height: 25px;
  font-size: 1rem;
  font-weight: 600;
}

.showModal {
  display: block;
}

.hideModal {
  display: none;
}

svg.hamburger:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  svg.closemenu {
    display: none;
  }
  ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
  }
  .modal {
    display: block;
    background: inherit;
    padding-top: 12px;
    height: 20vh;
  }
  svg.hamburger {
    display: none;
  }
  li.contact {
    margin-top: 0px;
  }
  a.btn {
    padding: 2px 20px;
  }
  li.about {
    margin-left: -30%;
  }
  p {
    width: 65%;
    margin: auto;
  }
  .secondary {
    display: block;
    width: 50%;
  }
  main .heroDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main h3,
  main p {
    text-align: left;
    margin-left: 50px;
  }
  main .heroDescription img {
    margin: auto 0;
  }
  main h2 {
    width: 70%;
  }
  main blockquote {
    width: 90%;
  }
  main .call-to-actionContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
    top: 90px;
  }
  main .call-to-actionContainer h3 {
    padding-top: 0;
    line-height: 32px;
  }
  footer ul {
    margin-left: 31px;
  }
  footer .footerSection {
    width: 82.5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer address {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: 1/2/3/2;
    text-align: right;
  }
  footer .footerMenu {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    grid-area: 2/1/3/1;
  }
  footer .copyrightContainer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    grid-area: 3/2/4/2;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 15px;
  }
  footer p.copyright {
    text-align: right;
    padding-bottom: 0px;
    width: 100%;
  }
  footer svg.footerLogo {
    margin-left: 0;
  }
  footer .social {
    margin-left: 31px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1220px) {
  /*   .wrapper {
        margin: 0 auto;
        width: 95%;
        max-width: 1440px;
    }
*/
  header .navMenu {
    width: 70.2%;
  }
  header svg.logo {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-left: 0;
  }
  header section.primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70.2%;
    position: relative;
  }
  header li.contact {
    margin-right: 24%;
  }
  header section.primary::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url("../images/bg-pattern-home-1.svg");
    left: -31%;
  }
  header p {
    position: relative;
    width: 40.2%;
    text-align: left;
    font-size: 1.2rem;
  }
  header p::before {
    content: "";
    width: 50px;
    height: 4px;
    background: #79C8C7;
    position: absolute;
    top: -34px;
  }
  header h1 {
    width: 57.4%;
    text-align: left;
    font-size: 6rem;
  }
  header .secondary {
    width: 25%;
    margin-right: 20%;
  }
  main section.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70.2%;
  }
  main h2 {
    font-size: 3.2rem;
    width: 85.8%;
  }
  main .heroDescriptionMore p {
    width: 80%;
    font-size: 1rem;
  }
  main h3 {
    font-size: 1.2rem;
  }
  main .profilesHeader {
    width: 74%;
  }
  main .profilesBody {
    width: 70.2%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .profilesDescription {
    width: 30%;
  }
  main .call-to-actionContainer {
    width: 70.2%;
  }
  main .call-to-actionContainer h3 {
    font-size: 3.2rem;
  }
  main::before {
    top: 304px;
  }
  footer .footerSection {
    width: 70.2%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer .socialCopyright {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1/4/1/5;
  }
  footer .copyrightContainer {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2/4/2/5;
  }
  footer address {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: 1/2/3/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .footerLogoContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/*
@media screen and (min-width: 1450px) {
    .wrapper {
        margin: 0 auto;
        width: 95%;
        max-width: 1440px;
    }
}*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #014E56;
  font-family: 'Livvic', sans-serif;
  color: white;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */